body {
  margin:0;
  padding: 0;
  background: #000;
}

.bg-anim {
  width:100%;
  background: #000;
  position: absolute;
  height: 600px;
  top:0;
  left:0;
  overflow: hidden;

  &__container {
    width:130%;
    height:130%;
    transform: rotate(5deg);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: absolute;
    top:-15%;
    left:-15%;
    box-sizing: border-box;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left:0;
    background: linear-gradient(
      to top,
      #000,
      rgba(#000, 0)
    );
    width:100%;
    height: 100%;
    z-index: 9;
  }
  &__col {
    border-right:solid 1px #333;
    
    img {
      width: 100%;
      display: block;
      border-bottom: solid 1px  #333;
    }
  }
}